.MyAccount{
    width: 90vw;
    margin-left: 12vw;
    margin-top: 4vh;
    margin-bottom: 20vh;
}

.formulario{
    

    background: #333333;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

}

.forms{
   display: flex;
   flex-direction: column;
   margin: 20px 0px ;
   width: 450px;
}


.forms .input{
   
    background: #333333;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    ;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;


    color: #999999;
}

.forms .labele{
    margin: 10px 0px;
}

.textFormulario{

    font-style: normal;
    font-weight: 275;
    font-size: 24px;
    line-height: 36px;

    color: #999999;
}

.swal2-container.swal2-center>.swal2-popup{
    background-color: #252525;
}

.swal2-title{
    
    background: #333333;
    border-radius: 8px 8px 0px 0px;
    font-style: normal;
    font-weight: 275;
    font-size: 36px;
    line-height: 54px;
    color: #D9D9D9 !important; 
    
    
}

.swal2-input {
    height: 2.625em;
    padding: 0 0.75em;
    background: #333333 !important;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 4px;
    border: none  !important;
    color: #888888 !important;
}

.swal2-html-container{
    color: #D9D9D9 !important;
}

.swal2-input-label{
    color: #D9D9D9;

    ;
    font-style: normal;
    font-weight: 275;
    font-size: 24px;
    line-height: 36px;

    margin-left: 38px !important;
}

.swal2-validation-message{
    background: #252525 !important;
    color: #D9D9D9 !important;
    font-size: 20px !important;

}

.swal2-styled.swal2-confirm{
    width: 120px;
    height: 48px;
    left: 653px;
    top: 418px;

    background: #3700B3 !important;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    ;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    align-items: center;

    }

 .swal2-styled.swal2-cancel{
    width: 120px;
    height: 48px;
    left: 653px;
    top: 418px;

    background: #914949 !important;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    ;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    align-items: center;

 }

 .botões{
    margin-top: 70px;
 }

.botao {
   
    background: #3700B3;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 9px;

    font-weight: 300;
    font-size: 20px;
    color: #D9D9D9;
    ;
    line-height: 36px;
    align-items: center;
    border: none;
    
    min-width: 160px;

    
}

button{
    display: flex;
    flex-direction:column;
}
