.navbar {
    align-items: start;
    background: #333333;
    width: 10vh;
    /* height: 100vh; */
    align-items: flex-start;
    /* align-items: center; */
    /* justify-content: center; */
  }
.icon {
    margin-right: 50%;
}