@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.App {
  background-color: #252525;
  min-height: 100vh; 
  height: auto;
  min-width: 100vh; 
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  font-family: Poppins;

}


.nav-link {
  padding-top: 32px;
}

.xx {
  position: absolute;
  bottom: 0;
}
