@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


#Pg2{
    background-color: #121212;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.container{
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.bloco{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.div-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}


  
.input-Cadastro{
    font-style: normal;
    font-weight: 2000px;
    font-size: 18px;
    line-height: 42px;
    width: 26vw;
    height: 4vh;
    border:none;
    margin-bottom: 4vh;
    color: white;
    display: block;
    background-color: #252525;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.label-Cadastro{
    font-style: normal;
    font-weight: 300px;
    font-size: 18px;
    line-height: 54px;
    color: white;
    display: block;
    margin-bottom: 0;
}

  
.login-btn, .login-btn:hover, .login-btn:active, .login-btn:visited {
    background-color: #3700B3 ;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px ;
    font-style: normal;
    font-weight: 150px;
    font-size: 25px;
    line-height: 54px;
    color: white;
    width: 280px;
    height: 55px;
    text-align: center;
    display: grid;
    margin-top: 20px;
    border: none;
    margin-bottom: 10px;
}

.link, .link:hover{
    font-style: normal;
    font-weight: 200px;
    font-size: 25px;
    line-height: 54px;
    color: white;
    display: block;
    color:#775CB6;

}

.voltar-btn{
    position: absolute;
    top:5vh;
    left: 5vw;
}

.erroSenhas .swal2-title{
    background: #333333;
    border-radius: 8px 8px 0px 0px;
    font-style: normal;
    font-weight: 275;
    font-size: 36px;
    line-height: 38px;
    color: #D9D9D9 !important; 
    padding: 15px;
}

.erroSenhas .swal2-styled.swal2-confirm{

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px ;
    background-color: #3700B3;
    color: #D9D9D9 !important;
    width: 80px;
    height: 50px;
    text-align: center;
    display: grid !important;
}
